{% extends 'base.html' %}

{% block title %}
Login - {{ block.super }}
{% endblock %}

{% block main %}
<h1>Log-in</h1>   

{% block nav_link %}
{% endblock %}

    
    <nav class="nav">
        <a class="nav-link" href="{% url 'user:signup' %}">Sign Up</a>
    </nav>
    
    {% if form.errors %}
    <p> Your username and password didn't match.Please try again.</p>
    {% endif %}
    <div class="login-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
          </form>
    </div>
{% endblock %}